html, body {
    /*Set max height for the page*/
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr min(100%);
    margin: 0;
}

/* ============== Sidebar Section ============== */

.sidebar {
    background-color: #1B4543;
    color: white;
    /*Set the grid postion of the sidebar to stay to the left and take up the whole verticle space*/
    grid-column: 1/2;
    grid-row: 1/3; 
    padding: 30px;

}

h1 {
    display: flex; /*Use Flexbox to keep items in a row and in the middle*/
    align-items: center;
    justify-content: start;
    padding-bottom: 30px;
}  

/*Set the logo SVG to be bigger than the SVGs below it*/
.logo svg {
    width: 50px;
}

.navigation {
    display: grid;
    gap: 60px;
}

ul {
    display: grid;
    padding: 0;/*remove built in padding and margin*/
    margin: 0;
    gap: 10px;
    }

/*Set the dashboard logo to white to match the text*/
svg {
    fill: white;
    width: 30px;
    padding: 0px 15px;
}
li {
    /*Use Flexbox to keep items close together and to center the text with the SVG*/
    display: flex;
    /*Removes the dot styling*/
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    align-items: center;
}

/*Set the navigation SVG to line up with the logo above*/
.navigation svg {
    padding:0px 25px;
}

/* ================= Header Section ================= */

header {
    background-color: #FAF9F6;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: lightgray 1px 5px 5px;
    position: relative; /*Put postion to relative so that the box shadow would show*/
}

/* Changes the colors of the svgs in the header and content sections black */
.search svg, 
.pre-header svg,
.interact svg {
    fill: black;
}

.search {
    display: flex; /*Use Flexbox to easily postion and to allow the search bar to grow*/
    justify-content: start;
    align-items: center;
    padding-right: 15px;
    padding-left: 30px;
}

input[type="search"] {
    border-style: none;
    border-radius: 15px;
    background-color: #ECECEC;
    flex-grow: 1;
    max-width: 550px;
    height: 30px;
}

.pre-header {
    /* Use Flexbox to center the items easier than with grid*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set the profile picture sizes and makes it a circle*/
.profile-pic {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    justify-self: right;
}

.profile .profile-pic {
    width: 60px;
    height: 60px;
    grid-row: 1/3;
}

h3 {
    font-size: 25px;
    padding-left: 15px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    column-gap: 15px;
}

.welcome {
    grid-column: 2/3;
    font-size: 20px;
    margin: 10px 0px;

}

h2 {
    grid-column: 2/3;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.button-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: #1B4543;
    border-color: #FAF9F6;
    border-style: solid;
    border-radius: 25px;
    width: 125px;
    height: 45px;
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;

}

/* =============== Main Content Section ============== */

.main-content {
    background-color: #ECECEC;
    grid-column: 2/5;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 220px);
    gap:30px;
    padding: 30px
}

.project-title {
    grid-column: 1/3;
    margin-top: 25px;
}

.project {
    background-color: #FAF9F6;
    padding: 18px;
    border-left: 10px solid #F0BE6F;
    border-radius: 10px;
    box-shadow: 1px 5px 5px lightgray;
    display: grid;
    grid-template-rows: 20px 1fr 30px;
    font-size: 16px;
}

h4 {
    margin: 0;
    font-size: 18px;
}

.project p {
    margin: 0px;
}

.interact {
    display: flex;
    justify-content: end;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr;
    padding: 30px 30px 0px 30px;
    
}

.announcements h5,
.announcements p {
    margin: 0px;
    font-size: 15px;
}

.announcements p {
    padding-bottom: 15px;
    border-bottom: solid lightgray 1px;
}

#last {
    border-bottom: none;
}

.announcements h5 {
    margin-top: 15px;
}

.announcement {
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 5px 5px lightgray;

}

.trending {
    grid-column: 2/3;
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-rows: 78px;
    align-items: center;
}

.trending h3 {
    margin: 0px;
}

.profiles {
    background-color: #FAF9F6;
    border-radius: 15px;
    padding: 20px;
}

.profile-project {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: left;
    align-items: center;
    padding: 5px;
}

.profile-project img {
    grid-row: 1/3
}

.profile-project p,
.profile-project span {
    margin: 0px;
    padding-left: 15px;
}

.profile-project span {
    font-weight: bold;
    font-size: 16px;
}